.navbar, .first{
    color: blue;
    display: flex;
    justify-content: space-between;
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
}

.choto{
    color: white;
    background-color: rgba(0, 26, 255, 0.952);
    border-radius: 10%;
    text-decoration: none;
}
.choto a{
    text-decoration: none;
}

.first{
    justify-content: center;
    }

#page{
    margin: auto;
    font-size: 50px;
}
#page_end{
    text-shadow: 5px cadetblue;
    text-align: center;
    border: 50px;
    background-color: blanchedalmond;
    margin: 10px;
    border-radius: 10%;
    padding: 2px 5px;
}

#gray{
    font-size: 25px;
    color: gray;
}

.second{
    display: flex;
    justify-content: space-between;
    font-size: larger;

}

#second_photo{
    width: 50vw;
    height: 20vw;
}

.boxy{
    border: 80px 50px;
    background-color: rgb(214, 206, 216);
    margin: 80px 50px;
    border-radius: 5%;
    padding: 80px;
}

#third{
    text-align: center;
}

.numbers{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: blue;
}

.numbers li{
    list-style: none;
}

.box_last{
    text-align: left;
    font-size: 20px;
    color: gray;
}

#feedback{
    font-size: xx-large;
    font-style: bold;
    text-align: center;

}

.first_box{
    border: 50px;
    background: whitesmoke;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    display: block;
    border-radius: 5%;
}

.second_box{
    border: 50px;
    background: whitesmoke;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    display: block;
    border-radius: 5%;
}

.third_box{
    border: 50px;
    background: whitesmoke;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    display: block;
    border-radius: 5%;

}
.box{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
}

#ready{
    text-align: center;
}

#detail{
    text-align: center;
    color: gray;
}

#free{
    padding: 10px;
    background-color: blue;
    text-decoration: white;
    color: white;
    text-align: center;
    border-radius: 5%;
}    

.ready_to{
    text-align: center;
}    

#image{
    border-radius: 5%;
}

.form{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

#touch{
    font-size: 100px;
    text-align: center;
    text-shadow: 30px grey;
    padding-left: 100px;
    color: cadetblue;
}

#last{
    padding-right: 20px;
    padding-top: 60px;
    padding-left: 60px;
}

.ending{
    text-align: center;
    padding: 10px 500px 50px 500px;
}

#end{
    font-size: 80px;
    color: blue;
}

#grey{
    color: grey;
}

.notun a{
    text-decoration: none;
    color:blue;
}